# Configures Environment variables on Ruby Elastic Beanstalk instances
# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log
#
option_settings:
 - option_name: lxainstall
   value: /usr/local/salience-5.1.6867
 - option_name: LD_LIBRARY_PATH
   value: /usr/local/salience-5.1.6867/salience/lib
