#
# Configures New Relic Sysmond on Ruby Elastic Beanstalk instances
# Timing of configuration is tracked via files in /tmp
#
packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm
commands:
  0_newrelic_command:
    command: "touch /tmp/$(date '+%F.%T.%N').newrelic_command_0"
  1_configure_new_relic_key:
    command: nrsysmond-config --set license_key=<Your key here>
  1a_newrelic_command:
    command: "touch /tmp/$(date '+%F.%T.%N').newrelic_command_1a"
  2_start_new_relic:
    command: "/etc/init.d/newrelic-sysmond start"
  2a_newrelic_command:
    command: "touch /tmp/$(date '+%F.%T.%N').newrelic_command_2a"
