#
# Configures New Relic Sysmond on Ruby Elastic Beanstalk instances
#
packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm
commands:
  1_configure_new_relic_key:
    command: nrsysmond-config --set license_key=<Your key here>
  2_start_new_relic:
    command: /etc/init.d/newrelic-sysmond start
